/*Cuadro del login*/
.login-form {
    width: 598px;
    background: #f1f1f1;
    height: 450px;
    padding: 65px 50px 45px 50px; /*margenes del cuadro*/
            /*ar  der   ab  iz*/
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  /*Titulo*/
  .login-form h1 {
    text-align: center;
    margin-bottom: 45px; /*Borde*/
    font-weight: 700;
    font-weight: bold;
    font-size: 35px;
  }
  
  /*creacion rayita input*/
  .txtb {
    border-bottom: 1px solid #adadad;
    position: relative;
    margin: 50px 0; /*margen de los 2 inputs*/
  }
  
  /*inputs*/
  .txtb input {
    font-size: 18px;
    font-weight: 500;
  
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
  }
  
  /*el texto dentro de los inputs*/
  .txtb span::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px; /***********************/
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.5s;
    font-weight: 700;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .txtb span::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px; /*grosor raya*/
    background: linear-gradient(120deg, #138fe2, #0087a8);
    transition: 0.5s;
  }
  
  .focus + span::before {
    top: -5px;
  }
  .focus + span::after {
    width: 100%;
  }
  /*------------------------------------------------*/
  
  /*Rayita inputs*/
  .focus-efecto {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%; /*carga de la raya*/
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .focus-efecto::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px; /*espacio del texto a la raya*/
    left: 0;
    width: 0;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    background: #1e34c5;
    background: -webkit-linear-gradient(left, #138fe2, #0087a8);
    background: -o-linear-gradient(left, #138fe2, #0087a8);
    background: -moz-linear-gradient(left, #138fe2, #0087a8);
    background: linear-gradient(left, #138fe2, #0087a8);
  }
  
  .focus-efecto::after {
    content: attr(data-placeholder);
    top: 40px;
    left: 0px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .input100:focus + .focus-efecto::after {
    top: -15px;
  }
  
  .input100:focus + .focus-efecto::before {
    width: 100%;
  }
  
  .has-val.input100 + .focus-efecto::after {
    top: -15px;
  }
  
  .has-val.input100 + .focus-efecto::before {
    width: 100%;
  }
  /*Fin raya*/
  
  /*ojo*/
  .ojo{
    position: absolute;
    margin-left: 3%;
    margin-top: 5%;
    color: #adadad;
  }
  /*fin ojo*/
  
  /*Boton login*/
  .logbtn {
    margin-left: 50%;
    transform: translateX(-50%);
    color: rgb(230, 230, 230);
    background: #254ea8;
    padding: 9px 25px; /*Bordes del boton*/
    font-size: 1.6em;
    font-weight: 500;
    font-weight: bold;
    border-radius: 10px;
    border: 0;
    transition: 0.5s;
    outline: none;
  }
  
  .logbtn:hover {
    background: #e0dd19;
    color: black;
    border: 0;
  }
  
  /*Fin boton*/
  
  /*olvidar contra txt*/
  .bottom-text {
    margin-top: 60px;
    text-align: center;
    font-size: 15px;
  }
  